:root {
    --dark-font: #555b6e;
    --light-font: #BEE3DB;
    --accent: #FFD6BA;
    --background: #FAF9F9;
    --main: #89b0ae;
}

body {
    padding-top: 4.5rem;
    background-color: var(--background);
    color: var(--dark-font);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

a[data-toggle="collapse"] {
    position: relative;
}

article {
    padding: 1em;
    margin: 1em;
    border: solid 1pt var(--light-font);
    border-radius: 3pt;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
.card{
    padding: 0.4em;
    margin: 1em;
    border-radius: 3pt;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    padding: 0em 1em;
    background-color: var(--light-font);
}

#sidebar a {
    padding: 1em 0.4em;
    color: var(--dark-font);
}
#sidebar p {
    font-size: medium;
    font-weight: bolder;
    color: var(--dark-font);
}
#sidebar li {
    border-bottom: solid 1pt var(--background);
    padding: 0.4em;
}


